body {
  background-color: black;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@font-face {
  font-family: billabong;
  src: url(./assets/Billabong.ttf);
}

h1 {
  text-align: center;
  color: white;
  font-family: billabong;
  font-size: 4rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 42%;
  margin: 20px 175px 20px 175px;
}
.map {
  display: flex;
  justify-content: center;
}
img {
  width: 95%;
  height: 95%;
}
